html
    head
        style
            include login-style.css
    body
        form(action='/login' method='post')
            div Username
            div
                input(type='text' name='username')
            div Password
            div
                input(type='password' name='password')
            div
                button(type='submit') Login